# exclude logs
*.log
*.log.*
# exclude vagrant folder
**/.vagrant
# exclude node_modules
**/node_modules
# excluding dynamo folder
**/.dynamodb
# exclude bot key
DiscordBot/loginCode.js
# exclude room IDs
DiscordBot/roomIDs.js
#exclude this
**/."[i] == D\357\200\272"