# exclude logs
*.log
*.log.*
# exclude vagrant folder
**/.vagrant
# exclude node_modules
**/node_modules
# excluding dynamo folder
**/.dynamodb
# exclude bot key
DiscordBot/config.js
# exclude database
**/dbData
# exclude extraneous vscode configs
**/.vscode
